a:hover {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: linear-gradient(45deg, turquoise, rgb(51, 255, 197));
  border-radius: 30px;
  border: solid 5px white;
  height: auto;
  width: 90vw;
  box-shadow: -10px 10px black;
}

label {
  font-weight: 800;
}

nav {
  position: relative;
  float: right;
  top: 20px;
  margin: 0px 20px 0px 0px;
}

ul {
  list-style: none;
}

li::before {
  content: "➱";
  width: 10px;
  color: black;
  margin: 0px 10px 0px 0px;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0px 0px 0px;
  color: white;
  font-family: "Azeret Mono", "Times New Roman";
  background: linear-gradient(45deg, turquoise, rgb(51, 255, 197));
  border-radius: 30px;
  border: solid 5px white;
  height: auto;
  width: 90vw;
  box-shadow: -10px 10px black;
}

.about-me-paragraph {
  color: black;
  margin: 100px 0px 200px 0px;
  width: 500px;
  text-align: left;
  font-size: 20px;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 8px royalblue;
}

.about-me-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-me-title {
  text-shadow: -2px 2px black;
  font-size: 40px;
  font-weight: 800;
}

.all-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.black-line {
  width: 80vw;
  border: 1px solid black;
  margin: 1px 0px 0px 0px;
}

.favorite {
  margin: 0px 0px 0px 10px;
  color: rgb(255, 96, 96);
}

.first-name {
  font-family: "Azeret Mono", "Times New Roman";
  font-size: 60px;
  color: white;
  text-shadow: -2px 2px black;
  margin: 0px;
}

.ga-link {
  color: violet;
  font-weight: 800;
}

.ga-link:hover {
  color: seagreen;
}

.github {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.github:hover {
  opacity: 30%;
}

.headshot {
  width: 250px;
  height: 250px;
  float: right;
  margin: -50px 175px 50px 0px;
  border: solid 5px rgb(51, 255, 197);
  border-radius: 20px;
  padding: 5px;
  background-color: white;
  box-shadow: -5px 5px black;
}

.last-name {
  font-family: "Azeret Mono", "Times New Roman";
  font-size: 60px;
  color: white;
  text-shadow: -2px 2px black;
  margin: 0px 0px 0px 100px;
}

.linked-in {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.linked-in:hover {
  opacity: 30%;
}

.list {
  margin: 100px 0px 200px 100px;
  color: black;
  font-size: 18px;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 8px royalblue;
}

.my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0px 0px 0px;
  padding: 50px 0px 50px 0px;
  background: linear-gradient(45deg, turquoise, rgb(51, 255, 197));
  border-radius: 30px;
  border: solid 5px white;
  height: auto;
  width: 90vw;
  box-shadow: -10px 10px black;
}

.my-projects-title {
  color: white;
  text-shadow: -2px 2px black;
  font-size: 40px;
  font-weight: 800;
  font-family: "Azeret Mono", "Times New Roman";
  text-align: center;
  margin: 0px 0px 50px 0px;
  width: 300px;
}

.my-socials {
  margin: 100px 0px 100px 0px;
  background: linear-gradient(45deg, turquoise, rgb(51, 255, 197));
  border-radius: 30px;
  border: solid 5px white;
  height: auto;
  width: 90vw;
  box-shadow: -10px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-socials-title {
  color: white;
  text-shadow: -2px 2px black;
  font-size: 40px;
  font-weight: 800;
  font-family: "Azeret Mono", "Times New Roman";
  margin: 50px 0px 50px 0px;
  width: 300px;
}

.name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  top: 130px;
  margin: 0px 0px 0px 150px;
  font-weight: 800;
}

.nav-link {
  margin: 0px 20px 0px 20px;
  color: white;
  text-shadow: -1.5px 1.5px black;
  font-size: 25px;
  font-family: "Azeret Mono", "Times New Roman";
}

.nav-link:hover {
  color: black;
  text-shadow: -1px 1px white;
}

.page-break {
  width: 80vw;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 70px 100px 0px 100px;
}

.project-image {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
  border: 5px solid white;
}

.project-image:hover {
  border: 5px solid royalblue;
}

.project-line {
  display: flex;
  flex-direction: row;
}

.project-title {
  width: 250px;
  height: 100px;
  text-align: center;
  font-weight: 800;
  font-family: "Azeret Mono", "Times New Roman";
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px royalblue;
}

.social {
  margin: 50px;
}

.socials {
  margin: 100px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  padding: 0px 0px 100px 0px;
}

.white-line {
  width: 80vw;
  border: 1px solid white;
  margin: -4px 0px 0px 2px;
}

@media screen and (max-width: 1100px) {
  header {
    width: auto;
  }

  .about-me {
    width: auto;
  }

  .about-me-paragraph {
    margin: 100px 0px 50px 0px;
  }

  .list {
    margin: 50px;
  }

  .headshot {
    display: none;
  }

  .my-project {
    width: auto;
  }

  .my-socials {
    width: auto;
  }

  .name {
    padding: 0px 0px 200px 0px;
  }
}
